@model Profile.Models.Entities.User

@{
    ViewData["Title"] = "EditUser";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <label class="card-title danger" for="inputDanger"><strong>Danger State</strong></label>
        </div>
        <div class="card-block">
            <div class="card-body">
                <form asp-controller="User" asp-action="EditUser" class="needs-validation was-validated" enctype="multipart/form-data">

                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="TimeCreated" />
                    <input type="hidden" asp-for="Image" />

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltip01">First name</label>
                            <input type="text" asp-for="FirstName" class="form-control position-relative" placeholder="First name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltip02">Last name</label>
                            <input type="text" asp-for="LastName" class="form-control position-relative" placeholder="Last name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltipUsername">Age</label>
                            <div class="input-group">
                                <input type="text" asp-for="Age" class="form-control position-relative" placeholder="Age">
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationTooltipUsername">Gender</label>
                            <div class="form-group">
                                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Profile.Models.Entities.GenderType>()" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltipUsername">NationalCode</label>
                            <div class="input-group">
                                <input type="text" asp-for="NationalCode" class="form-control position-relative" placeholder="NationalCode">
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationTooltipUsername">Mobile</label>
                            <div class="input-group">
                                <input type="text" asp-for="Mobile" class="form-control position-relative" placeholder="Mobile">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltipUsername">Province @*<a href="#" style="background-color:green; padding:2px 15px; font-size:13px; border-radius:5px; color:#fff; text-decoration:none;">Add Province</a>*@</label>
                            <div class="input-group">
                                <select id="provinceId" asp-for="Province" asp-items="@(ViewData["Province"] as SelectList)" class="form-control">
                                    <option>Select Province</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltipUsername">City</label>
                            <div class="input-group">
                                <select id="cityId" asp-for="City" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltipUsername">UserState</label>
                            <div class="form-group">
                                <select asp-for="UserState" class="form-control">
                                    <option value="1">Active </option>
                                    <option value="2">Deactive </option>
                                    <option value="3">Blocked </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltipUsername">Image</label>
                            <div class="form-group">
                                <input type="file" asp-for="Image" name="Img" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Edit User</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section script
    {
    <script>
        $(function () {
            $("#provinceId").change(function () {
                var item = $("#provinceId").val();
                $.ajax({
                    url: '/User/CityAjax/' + item,
                    method: "GET",
                    success: function (data) {
                        $("#cityId").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#cityId").append("<option value='" + data[i].cityId + "'>" + data[i].cityName + "</option>")
                        }
                    }
                });
            });
        });
    </script>
}